/*Heading stuff*/
.heading {
    width: 570px;
    margin: 0px auto;
    text-align: center;
}
h1.top {
    text-align: center;
    color: steelblue;
    font-family: Ubuntu;
    font-weight: 700;
}
h1 > a:hover{
    text-decoration: none;
}
h2.top {
    text-align: center;
    font-size: 1em;
    margin-top: -10px;
    color: lightsteelblue;
}

/*Form stuff*/
.formdiv {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.formgroup > * {
    padding: 10px;
}
label {
    float: left;
}

/*Check stuff*/
.checkImg {
    max-width: 200px;
    margin: 10px;
}
.checkText {
    display: inline-block;
    width: 200px;
    padding: 5px;
    margin: 10px;
    background-color: deepskyblue;
    color: white;
    font-size: 125%;
}
.confirmdiv {
    text-align: center;
}
#confirm:hover {
    cursor: pointer;
    opacity: 0.8;
}

/*Comparison stuff*/
a > img:hover{
    cursor: pointer;
    opacity: 0.7;
}
.comparediv {
    text-align: center;
    nahheight: 200px;
}
.compareImg {
    max-width: 400px;
    margin: 10px;
}
.compareText {
    display: inline-block;
    width: 400px;
    padding: 5px;
    margin: 10px;
    background-color: deepskyblue;
    color: white;
    font-size: 200%;
    nahvertical-align: baseline;
}
.flashdiv {
    text-align: center;
}
.flash {
    display: inline-block;
    color: white;
    background-color: deepskyblue;
    width: 100px;
    margin: 10px;
    cursor: pointer;
}

.flash :hover {
    background-color: skyblue;
}

/*Result stuff*/
.resultdiv {
    text-align: center;
}
.resultImg {
    width: 500px;
}
.resultText {
    display: inline-block;
    width: 500px;
    padding: 5px;
    background-color: deepskyblue;
    color: white;
    font-size: 250%;
}
.resulttemp {
    width: 75%;
    min-width: 520px;
    padding: 10px;
    margin: 10px auto;
    background-color: lightblue;
}

.result2temp {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
}
.result2Img {
    width: 150px;
}
.result3Img {
    width: 250px;
}
.result2Text {
    display: inline-block;
    width: 150px;
    padding: 5px;
    margin: 10px;
    background-color: deepskyblue;
    color: white;
    font-size: 90%;
}
.result3Text {
    display: inline-block;
    width: 250px;
    padding: 5px;
    margin: 10px;
    background-color: deepskyblue;
    color: white;
    font-size: 125%;
}